{% extends "layout.html" %}

{% block body %}

    
    <div class="item-table">

        <table class="content-table">
            <thead>
                
                <tr>
                    <th>COMPANY</th>
                    <th>ROLE</th>
                    <th>DATE OF APPLICATION</th>
                    <th></th>
                </tr>
    
            </thead>
          
            <tbody>
    
                {% for app in apps %}
                <tr>
                    <form method="POST">
                        <td>{{ app.company }}</td>
                        <td>{{ app.role}}</td>
                        <td>{{app.date.date()}}</td>
                        <td><input name = "app_id" class="delete" type="submit" value="Delete"></td>
                    </form>/

                </tr>
                {% endfor %}
    
                <tr>
                    <form method="POST">
                        <td><input name= "company" id = "company" class="text-input" type="text" placeholder="Company"></td>
                        <td><input name="role" id = "role" class="text-input" type="text" placeholder="Role"></td>
                        <td> </td>
                        <td> <input class="add" type="submit" value="Submit"></td>
                    </form>
                   
                </tr>

            </tbody>
    
    
           
    
        </table>
    
    </div>


   

{% endblock %}